# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*/migrations
outer/catalog/migrations/0005_book_cover.py
outer/catalog/migrations/0006_alter_book_cover.py
outer/catalog/migrations/0007_alter_book_cover.py
outer/catalog/migrations/0008_alter_book_cover.py
outer/catalog/migrations/0009_alter_book_cover.py
outer/catalog/migrations/0010_alter_book_cover.py
outer/catalog/migrations/0011_alter_book_cover.py
outer/catalog/migrations/0012_alter_book_cover.py
outer/catalog/migrations/0013_alter_book_cover.py
outer/catalog/migrations/0014_alter_book_cover.py
outer/catalog/migrations/0015_alter_book_cover.py
outer/catalog/migrations/0016_alter_book_cover.py

*.exe

.vscode/*
outer/media/covers/Al_Pacino_Marlon_Brando_the_Godfather_1972_Photographic_Print____AllPosters_com.jpg
outer/media/covers/.jpg
outer/media/authpics/StephenKing_W3PFQKk.webp
outer/media/authpics/pihole_XAFwQz1.png
outer/media/authpics/photo_2022-07-07_01-53-55.jpg
outer/media/authpics/photo_2022-07-07_01-53-55_w463jNF.jpg
outer/media/authpics/hasbu.jpeg
outer/media/authpics/2012-03-21-chuck-all-tattoos.jpg
outer/media/authpics/2012-03-21-chuck-all-tattoos_olLJgLr.jpg
