{% extends "catalog/base.htm" %} {% block content %}
<div class="card-body p-1 text-left">
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %} {% comment %}
		<table>
			{{ form.as_table }}
		</table>
		{% endcomment %}

		{% comment %} <div class="mb-md-2 mt-md-1 pb-2"> {% endcomment %}
		<div id="wrapper">
		<div class="col-sm-4" id="first">
			<h3>{{ form.first_name.label }}*</h3>
			<p>{{ form.first_name }}</p>
			<h3>{{ form.last_name.label }}*</h3>
			<p>{{ form.last_name }}</p>
			<h3>{{ form.date_of_birth.label }}</h3>
			<p>{{ form.date_of_birth }}</p>
			<h3>{{ form.date_of_death.label }}</h3>
			<p>{{ form.date_of_death }}</p>
			<div>
				<button
					class="btn btn-outline-dark btn-md px-5"
					type="submit"
					style="text-align: center"
				>
					Submit
				</button>
			</div>
		</div>
	{% comment %} </form> {% endcomment %}
	<div id="second">
		{% if author.authpic %}
		<img
			src="{{ author.authpic.url }}"
			class="mercedes"
			style="margin: left 0px"
		/>
		{% endif %}
		<br>
		<span style="display: none;">{{ form.authpic }}</span>
		{% comment %} <p>""</p> {% endcomment %}
		<label for="{{ form.authpic.id_for_label }}"><strong style="color: blue">
			Press <u>here</u> to upload a photo.
		</strong></label>
		{% if form.errors %} <p style="color:red">Bad data, make sure to fill every '*' field.</p> {% endif %}
		</div>
		</form>
</div>
</div>
{% endblock %}
