{% extends 'catalog/base.htm' %}

{% block content %}
<div style="text-align: center;">
  <h1>Renew: {{ book_instance.book.title }}</h1>
  <h5>Borrower: @{{ book_instance.borrower }}</h5>
  <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}><strong>Due date: {{ book_instance.due_back }}</strong></p>

  <form action="" method="post">
    {% csrf_token %}
    <span style="font-weight: bolder;">{{ form.renewal_date.label}}:</span>
    <p>{{ form.renewal_date.default_value }}</p>
    <p>{{ form.renewal_date }}</p>
    {% if form.errors %}
        {% for error in form.renewal_date.errors %}
            <span class="former"><p>{{ error | striptags }}</p></span>
        {% endfor %}
    {% else %}
        <p>{{ form.renewal_date.help_text}}</p>
    {% endif %}
    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Submit</button>
  </form>
</div>
{% endblock %}

{% block rightbar %}
<img src="{{ book_instance.book.cover.url }}" class="mercedes">
{% endblock %}
