{% extends "catalog/base.htm" %}
{% block title %} <title>MDNLocalLibrary</title> {% endblock %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed following the <a href="https://developer.mozilla.org/en-US/">MozillaDN</a> guide!</p>
  <hr>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <!-- <li><strong>Books that contains "the":</strong> {{ nobooks_cont_the }}</li> -->
    <!-- <li><strong>Genres that starts with capital "H":</strong> {{ nogen_that_sw_caph }}</li> -->
  </ul>
  {% load static %}
  <img src="{% static '/catalog/images/harrylib.webp' %}" alt="" class="imgradius">
  <br>
  <br>
{% endblock %}
