/* .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
} */
.tuenipix {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.mercedes {
    width: auto;
    height: 300px;
    float: right;
    margin-left: 20px;
    padding: 1px;
    border: 1px solid rgb(0, 0, 0);
}

.imgradius {
    border-radius: 5px;
    width: 555px;
}