/* .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
} */
.tuenipix {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.mercedes {
    /* width: auto; */
    max-width: 220px;
    max-height: 300px;
    float: right;
    margin-left: 20px;
    padding: 1px;
    border: 1px solid rgb(0, 0, 0);
}

.imgradius {
    border-radius: 5px;
    width: 555px;
}

body {
   /* font-size: 1em !important; */
   /* color: #000 !important; */
   font-family: 'Lora', serif;
   font-weight: 500;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    font-weight: bold;
}

.pader {
    padding: 0%;
}


.confmail {
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid black;
    color: white;
}
  
.confmail:hover {
    background-color: #141414; 
    color: white;
}

.errorlist {
    list-style: none;
}

.buldel {
    list-style: none;
}

th, td {
    border-bottom: 1px solid #ddd;
    /* padding-right: min(25px, 10%); */
}

.pagination {
    display: flex;
}

.bookid {
    font-size: small;
}

.pugil {
    max-width: 250px;
    max-height: auto;
}

/* .center {
    border: 5px solid #FFFF00;
    text-align: center;
} */

.former {
    color: red;
    font-weight: bolder;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




#wrapper {
    width: 500px;
    /* border: 1px solid black; */
    overflow: hidden; /* will contain if #first is longer than #second */
}
#first {
    width: 280px;
    float:left; /* add this */
    /* border: 1px solid red; */
}
#second {
    /* border: 1px solid green; */
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.signup {
    color: red;
    font-weight: bolder;
}

.anchorprofile {
    color:rgb(0, 0, 0)
}


.libmem {
    color: green;
    font-weight: bolder;
    font-size: x-large;
}
