{% extends "catalog/base.htm" %}

{% block content %}
    {% if validlink %}
        <center><p style="font-size: large;" class="text-red-50 mb-2">Please enter (and confirm) your new password.</p></center>
        <form action="" method="post">
        {% csrf_token %}
            <div class="form-outline form-white mb-4">
                <input class="form-control form-control-lg" type="password" id="id_new_password1" name="new_password1" value="">
                <center><label class="form-label" for="id_new_password1">
                    Enter a new password 
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            <div style="color: red; font-weight:bolder">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                </label></center>
            </p>

            <div class="form-outline form-white mb-4">
                <input class="form-control form-control-lg" type="password" id="id_new_password2" name="new_password2" value="">
                <center><label class="form-label" for="id_new_password2">
                    Repeat the password
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                            <div style="color: red; font-weight:bolder">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                </label></center>
            </div>

            <center><button class="btn btn-outline-dark btn-lg px-5" type="submit">Change my password</button></center>
        </form>



    {% else %}
        <h1 style="color: red;">Password reset failed</h1>
        <p style="color:red"><strong>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</strong></p>
    {% endif %}
{% endblock %}
