{% extends "catalog/base.htm" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <!-- <p>{{ form.email }}</p> -->

        <div class="form-outline form-white mb-4">
            <h1>Forgot your password?</h1>
            <p>Change your password in three easy steps. This will help you to secure your password!</p>
            <ol>
                <li>Enter your email address below.</li>
                <li>Our system will send you a temporary link</li>
                <li>Use the link to reset your password</li>
            </ol>
            <input type="mail" id="typeEmailX" name="email" class="form-control form-control-lg" />
        </div>




        <center><input type="submit" class="btn btn-outline-dark btn-lg px-5" value="Send me an email!"></center>
        <!-- <input type="submit" class="confmail" value="Send me an email!"> -->
    </form>
{% endblock %}
